td {
  padding: 10px 20px;
  background-color: #222;
  color: white;
  text-align: center;
}
.list_button {
  width: 32px;
  height: 32px;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  border: none;
  cursor: pointer;
  background-color: transparent;
}

.delete {
  background-image: url("../../assets/delete-left-svgrepo-com.svg");
  background-size: cover;
}
.edit {
  background-image: url("../../assets/open-outline-svgrepo-com.svg");
  background-size: cover;
}
.icon {
  width: 100%;
  height: 100%;
  color: white;
}
.td_button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;

}
