.back_modal {
  width: 100vw;
  height: 100vh;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.623);
  display: none;
  justify-content: center;
  align-items: center;
  overflow-x: hidden;
  z-index: 20202020;
}

.container_modal {
  background-color: #f1f1f1;
  width: 600px;
  min-height: 570px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 30px;
  border-radius: 10px;
  position: relative;
  gap: 15px;
}

.modal_name{
  color: #222;
  font-weight: bold;
  background-color: transparent;
  border: none;
  font-size: 20px;
  
}
.modal_data {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
}


.modal_close {
  width: 50px;
  height: 50px;
  background-color: transparent;
  border: none;
  position: absolute;
  top: 0px;
  right: 0px;
  cursor: pointer;
}

.modal_info {
  width: 100%;
  display: flex;
  justify-content: space-around;
  border-top: solid black 1px;
  padding-top: 5px;
}
.modal_info p{
  font-size: 13px;
}
.modal_description {
  background-color: #c0c0c0;
  color: #222;
  padding: 10px;
  height: 300px;
  min-width: 500px;
  border-radius: 10px;
  white-space: pre-line;
  resize: none;
  font-size: 17px;
}

.modal_close_icon {
  width: 100%;
  height: 100%;
  color: #222;
}
