.card{
    min-width: 300px;
    min-height: 200px;
    max-width: 400px;
    background-color: #222;
    padding: 1em;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card_name{
color: #66fc02;

}

.card_desc{
    color: rgb(218, 218, 218);
    white-space: pre-line;
    }
.card_info{
    display: flex;
    justify-content: space-between;
}

.card_info_id{
    width: 50px;
    background-color: rgb(235, 235, 235);
    border: none;
    cursor: pointer;
    border-radius: 10px;
}

.card_info_date{
    color: white;
}